:root {
    --hue: 163;
    --sat: 100;
    --light: 14;
    --althue: 41;
    --altsat: 100;
    --altlight: 55;
    --threshold: 60;
}

.days {
    /***************
    color: #004834;
    background-color: #ffb81c;
****************/
    background: hsl(var(--althue), calc(var(--altsat) *1%), calc(var(--altlight) * 1%));
    --switch: calc((var(--altlight) - var(--threshold)) * -100%);
    color: hsl(0, 0%, var(--switch));

}

.measure {
    background: hsl(var(--hue), calc(var(--sat) *1%), calc(var(--light) * 1%));
    --switch: calc((var(--light) - var(--threshold)) * -100%);
    color: hsl(0, 0%, var(--switch));
}

.team-logo {
    background: url(http://a.espncdn.com/i/teamlogos/ncaa/500/239.png) no-repeat center;
}
