:root {
    --hue: 344;
    --sat: 97;
    --light: 29;
    --althue: 207;
    --altsat: 8;
    --altlight: 45;
    --threshold: 60;
}

.days {
    /***************
    color: #94022a;
    background-color: #6a747c;
****************/
    background: hsl(var(--althue), calc(var(--altsat) *1%), calc(var(--altlight) * 1%));
    --switch: calc((var(--altlight) - var(--threshold)) * -100%);
    color: hsl(0, 0%, var(--switch));

}

.measure {
    background: hsl(var(--hue), calc(var(--sat) *1%), calc(var(--light) * 1%));
    --switch: calc((var(--light) - var(--threshold)) * -100%);
    color: hsl(0, 0%, var(--switch));
}

.team-logo {
    background: url(http://a.espncdn.com/i/teamlogos/ncaa/500/265.png) no-repeat center;
}
