:root {
    --hue: 207;
    --sat: 64;
    --light: 23;
    --althue: 206;
    --altsat: 3;
    --altlight: 57;
    --threshold: 60;
}

.days {
    /***************
    color: #153E5F;
    background-color: #8e9295;
****************/
    background: hsl(var(--althue), calc(var(--altsat) *1%), calc(var(--altlight) * 1%));
    --switch: calc((var(--altlight) - var(--threshold)) * -100%);
    color: hsl(0, 0%, var(--switch));

}

.measure {
    background: hsl(var(--hue), calc(var(--sat) *1%), calc(var(--light) * 1%));
    --switch: calc((var(--light) - var(--threshold)) * -100%);
    color: hsl(0, 0%, var(--switch));
}

.team-logo {
    background: url(http://a.espncdn.com/i/teamlogos/ncaa/500/2440.png) no-repeat center;
}
