:root {
    --hue: 17;
    --sat: 46;
    --light: 22;
    --althue: 20;
    --altsat: 7;
    --altlight: 51;
    --threshold: 60;
}

.days {
    /***************
    color: #532e1f;
    background-color: #8b7f79;
****************/
    background: hsl(var(--althue), calc(var(--altsat) *1%), calc(var(--altlight) * 1%));
    --switch: calc((var(--altlight) - var(--threshold)) * -100%);
    color: hsl(0, 0%, var(--switch));

}

.measure {
    background: hsl(var(--hue), calc(var(--sat) *1%), calc(var(--light) * 1%));
    --switch: calc((var(--light) - var(--threshold)) * -100%);
    color: hsl(0, 0%, var(--switch));
}

.team-logo {
    background: url(http://a.espncdn.com/i/teamlogos/ncaa/500/2711.png) no-repeat center;
}
