:root {
    --hue: 22;
    --sat: 100;
    --light: 8;
    --althue: 26;
    --altsat: 100;
    --altlight: 14;
    --threshold: 60;
}

.days {
    /***************
    color: #2b1000;
    background-color: #492000;
****************/
    background: hsl(var(--althue), calc(var(--altsat) *1%), calc(var(--altlight) * 1%));
    --switch: calc((var(--altlight) - var(--threshold)) * -100%);
    color: hsl(0, 0%, var(--switch));

}

.measure {
    background: hsl(var(--hue), calc(var(--sat) *1%), calc(var(--light) * 1%));
    --switch: calc((var(--light) - var(--threshold)) * -100%);
    color: hsl(0, 0%, var(--switch));
}

.team-logo {
    background: url(http://a.espncdn.com/i/teamlogos/ncaa/500/189.png) no-repeat center;
}
