.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  background-color: #3fc3ff;
  color: white;
  width: 100%;
  min-height: 20px;
  padding: 6px 0;
  font-size: 3rem;
}

.navbar .col {
  padding: 4px 20px;
  display: flex;
  justify-content: center;
}


.navbar input {
  font-size: 2rem;
  /* border-radius: 5px;
  border-color: #0c80b5; */
  color: #3c7e9c;
  padding: 4px;
  width: 100%;
  min-width: 100px;
  max-width: 300px;
  box-sizing: border-box;
  text-align: right;
}

.navbar input::placeholder { text-align: center }

