.teamSchedule {
  /* margin-top: 4px; */
  border-radius: 2px;
  padding: 4px 20px;
  background-color: #ffffff;
  font-size: .8rem;
  width: 100%;
  text-shadow: initial;
}

.teamSchedule tbody tr:nth-child(odd) {
 background-color: #f0f0f0;
}

.teamSchedule td {
  padding: 4px 12px;
}
