:root {
    --hue: 205;
    --sat: 84;
    --light: 7;
    --althue: 44;
    --altsat: 100;
    --altlight: 57;
    --threshold: 60;
}

.days {
    /***************
    color: #031522;
    background-color: #ffc423;
****************/
    background: hsl(var(--althue), calc(var(--altsat) *1%), calc(var(--altlight) * 1%));
    --switch: calc((var(--altlight) - var(--threshold)) * -100%);
    color: hsl(0, 0%, var(--switch));

}

.measure {
    background: hsl(var(--hue), calc(var(--sat) *1%), calc(var(--light) * 1%));
    --switch: calc((var(--light) - var(--threshold)) * -100%);
    color: hsl(0, 0%, var(--switch));
}

.team-logo {
    background: url(http://a.espncdn.com/i/teamlogos/ncaa/500/25.png) no-repeat center;
}
