:root {
    --hue: 253;
    --sat: 60;
    --light: 33;
    --althue: 26;
    --altsat: 20;
    --altlight: 80;
    --threshold: 60;
}

.days {
    /***************
    color: #372286;
    background-color: #d6cac1;
****************/
    background: hsl(var(--althue), calc(var(--altsat) *1%), calc(var(--altlight) * 1%));
    --switch: calc((var(--altlight) - var(--threshold)) * -100%);
    color: hsl(0, 0%, var(--switch));

}

.measure {
    background: hsl(var(--hue), calc(var(--sat) *1%), calc(var(--light) * 1%));
    --switch: calc((var(--light) - var(--threshold)) * -100%);
    color: hsl(0, 0%, var(--switch));
}

.team-logo {
    background: url(http://a.espncdn.com/i/teamlogos/ncaa/500/77.png) no-repeat center;
}
